body {
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;

}

.mainheader {
    display: flex;
    justify-content: space-between;
}

.main, .more {
    font-size: 40px;
    color: lightskyblue;
    text-decoration: none;
}

hr {
    width: 100%;
    border-color: lightskyblue;
}

.option-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
    margin-bottom: 10px;
}

.option-bar a {
    color: #FFFFFF;
    background-color: #F23838;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
}

.option-bar a:hover {
    box-shadow: 1px 1px 1px #000000;
}

th {
    text-align: center;
    font-weight: normal;
    background: lightskyblue;
    height: 40px;
}

input .pricefilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filtersearchheader {
    color: red;
    display: flex;
    align-content: flex-end;
}

input {
    display: flex;
    justify-content: space-between;
}

input[type=text], input[type=search] {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}

input[type=submit], input[type=Search] {
    margin: 0 50px;
    background: red;
    width: 100px;
    height: 50px;
    color: white;
    border: 10px black;
    border-radius: 10px;
    font-size: 15px;
}

.searchheader {
    color: red;
}

