<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>PetShelter</title>
</head>
<body>
<h1>Humans</h1>
<h2>Add new Human</h2>
<p th:if="${hasError}">Something went wrong, please check if the fields are filled out or use
    another name, because the name is already taken</p>
<form method="post" action="/add-human" th:object="${human}">
    <label for="name">Name</label>
    <input id="name" type="text" th:field="*{name}" required>
    <br>
    <label for="age">Age</label>
    <input id="age" type="number" th:field="*{age}" required>
    <br>
    <input type="submit">
</form>
<h2>Stored humans</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="human : ${listOfHuman}" th:object="${human}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{age}"></td>
        <td>
            <a th:href="@{|/delete/${human.id}|}">delete</a>
            <a th:href="@{|/edit/${human.id}|}">edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>