<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
</head>
<body>
<ul>
    <li><a href="http://localhost:8080/information" th:text="'Information'"></a></li>
    <li><a href="http://localhost:8080/nutritionStore" th:text="'Nutrition Store'"></a></li>
    <li><a href="http://localhost:8080/trickCenter" th:text="'Tricks Center'"></a></li>
</ul>
<img src="/greenfox.png">
<br>
<a th:text="${foxinformation}"> </a>
<a th:text="${list}"> </a>

<h2>Known Tricks</h2>
<a th:text="${tricks}"></a>
</body>
</html>