<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
</head>
<body>
<ul>
    <li><a href="http://localhost:8080/information" th:text="'Information'"></a></li>
    <li><a href="http://localhost:8080/nutritionStore" th:text="'Nutrition Store'"></a></li>
    <li><a href="http://localhost:8080/trickCenter" th:text="'Tricks Center'"></a></li>
</ul>
<tr>
    <form action="/nutritionStore" method="POST">
    <td>
        <label for="foods">Food:</label>
        <select id="foods" name="numberoffoods">
            <option value="1" name="pizza">Pizza</option>
            <option value="2" name="hamburger">Hamburger</option>
            <option value="3" name="salad">Salad</option>
            <option value="4" name="spagetthi">Spagetthi</option>
        </select>
        <label for="drinks">Drink:</label>
        <select id="drinks" name="numberofdrinks">
            <option value="5" name="lemonade">Lemonade</option>
            <option value="6" name="coke">Coke</option>
            <option value="7" name="beer">Beer</option>
            <option value="8" name="juice">Juice</option>
        </select>
        <input type="submit" value="Change">
    </td>
    </form>
</tr>
</body>
</html>