<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/mystyle.css"/>
<head>
    <title>My Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="mainheader">
    <a class="main" href="http://localhost:8080/webshop">My Shop</a>
    <a class="more" href="http://localhost:8080/webshop/more">More>></a>
</div>

<hr>
<div class="option-bar">
    <a href="http://localhost:8080/webshop/onlyavaible">Only available</a>
    <a href="http://localhost:8080/webshop/cheapest">Cheapest first</a>
    <a href="http://localhost:8080/webshop/containsnike">Contains nike</a>
    <a href="http://localhost:8080/webshop/avarage">Average Stock</a>
    <a href="http://localhost:8080/webshop/mostexpensive">Most expensive available</a>
</div>
<table class="itemtable">
    <form action="/webshop/search" method="POST">
        <tr>
            <td><label class="searchheader" for="search">Search for:</label></td>
        </tr>
        <tr>
            <td>
                <input type="text" id="search" name="searchInput" placeholder="...something like nike">
            </td>
            <td>
                <input type="submit" value="Search">
            </td>
        </tr>
    </form>
    <th> Name</th>
    <th> Description</th>
    <th> Price</th>
    <th> Quantity of Stock</th>
    <tr th:each="item : ${items}">
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getDescription()}"></td>
        <td th:text="${item.getPrice()} + ${currency}"></td>
        <td th:text="${item.getQuantityOfStock()}"></td>
    </tr>
</table>
</body>
</html>