<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo with MySQL</title>
</head>
<body>
<h1> Create a new Todo </h1>
<form action="/add" method="post">

    <label for="title">Title</label>
    <input id="title" type="text" name="title">

    <label for="content">Content</label>
    <input id="content" type="text" name="content">

    <label for="description">Description</label>
    <input id="description" type="text" name="description">

    <label for="urgent">Urgent</label>
    <input id="urgent" type="checkbox" name="urgent">

    <label for="done">Done</label>
    <input id="done" type="checkbox" name="done">

    <label for="dueDate">Due Date</label>
    <input id="dueDate" type="date" name="dueDate">

    <input type="submit">
</form>
</body>
</html>